data/app-data/resources/schemas/5.3.3/exercise/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.8.2">
	<xs:annotation>
		<xs:documentation xml:lang="en">Shared types</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="T_Time">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\-]?[0-9]*\.?[0-9]+[smhdj]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_PositiveTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="[\-]?[0-9]*\.?[1-9]+[smhdj]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ShortIsoDate">
		<xs:annotation>
			<xs:documentation xml:lang="en">ISO 8601 date time short format (YYYYMMDDTHHmmSS).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{8}T\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_NumericOrBoolean">
		<xs:restriction base="xs:string">
			<xs:pattern value="(false|true|([\-]?[0-9]*\.?[0-9]*))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_NonNegativeIntegerOrUnbounded">
		<xs:restriction base="xs:string">
			<xs:pattern value="unbounded|[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_NonNegativeInteger">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_NonNegativeDouble">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ZeroToOneDouble">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ZeroTo255Integer">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ZeroTo100Integer">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_LocationMGRS">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,2}[A-Z]{1,3}[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Version">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]+\.){2}[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_CRC">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{32}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_FileReference">
		<xs:attribute name="file" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_ExtensionType">
		<xs:attribute name="key" type="xs:string"/>
		<xs:attribute name="value" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ExtensionsType">
		<xs:sequence>
			<xs:element name="entry" type="T_ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="T_AnchorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="start"/>
			<xs:enumeration value="end"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_PackageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="support"/>
			<xs:enumeration value="attack"/>
			<xs:enumeration value="control"/>
			<xs:enumeration value="defence"/>
			<xs:enumeration value="move"/>
			<xs:enumeration value="intelligence"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ColorRGB">
		<xs:restriction base="xs:string">
			<xs:pattern value="0x([a-fA-F0-9]{6})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TargetType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="urban-object"/>
			<xs:enumeration value="terrain-object"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Resources">
		<xs:sequence>
			<xs:element name="node" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="link" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="kind" type="TargetType"/>
								<xs:attribute name="target" type="xs:positiveInteger"/>
								<xs:attribute name="capacity" type="xs:integer"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="resource-type" type="xs:string"/>
					<xs:attribute name="enabled" type="xs:boolean"/>
					<xs:attribute name="production" type="xs:nonNegativeInteger"/>
					<xs:attribute name="consumption" type="xs:nonNegativeInteger"/>
					<xs:attribute name="stock" type="xs:nonNegativeInteger"/>
					<xs:attribute name="initial-stock" type="xs:nonNegativeInteger"/>
					<xs:attribute name="critical-consumption" type="xs:boolean"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Infrastructure">
		<xs:attribute name="enabled" type="xs:boolean" use="required"/>
		<xs:attribute name="role" type="xs:string" use="required"/>
		<xs:attribute name="threshold" type="xs:float" use="required"/>
	</xs:complexType>
	<xs:complexType name="StructuralState">
		<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="Roles">
		<xs:sequence>
			<xs:element name="role" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string"/>
					<xs:attribute name="proportion" type="xs:float"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_ObjectAttributes">
		<xs:all>
			<xs:element name="resources" type="Resources" minOccurs="0"/>
			<xs:element name="structural-state" type="StructuralState" minOccurs="0"/>
			<xs:element name="infrastructure" type="Infrastructure" minOccurs="0"/>
			<xs:element name="roles" type="Roles" minOccurs="0"/>
			<xs:element name="activity-time" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines attributes related to object activity time.</xs:documentation>
					<xs:documentation xml:lang="fr">Définit les attributs relatifs au temps d'activité de l'objet.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="value" type="xs:nonNegativeInteger" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines the activity time in seconds.</xs:documentation>
							<xs:documentation xml:lang="fr">Définit la durée d'activation en secondes.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="bypass" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="value" type="xs:decimal" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="construction" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="resources">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dotation">
										<xs:complexType>
											<xs:attribute name="name" use="required"/>
											<xs:attribute name="count" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="completion" type="xs:decimal" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="trafficability" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="max" type="xs:double" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="crossing-site" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="width" type="xs:nonNegativeInteger"/>
						<xs:element name="depth" type="xs:nonNegativeInteger"/>
						<xs:element name="speed" type="xs:nonNegativeInteger"/>
						<xs:element name="construction-needed" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="delay" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="fire" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="class" type="xs:string" use="required"/>
					<xs:attribute name="max-combustion-energy" type="xs:string"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="flood" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="depth" type="xs:nonNegativeInteger" use="required"/>
					<xs:attribute name="reference-distance" type="xs:nonNegativeInteger" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="input-toxic-cloud" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="source" type="xs:string" use="required"/>
					<xs:attribute name="data-field" type="xs:string" use="required"/>
					<xs:attribute name="export"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="disaster" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="source" type="xs:string" use="required"/>
					<xs:attribute name="date" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="stock" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="current" type="xs:nonNegativeInteger" use="required"/>
								<xs:attribute name="max" type="xs:nonNegativeInteger" use="required"/>
								<xs:attribute name="type" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="medical-treatment" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines attributes related to medical treatment (hospital management).</xs:documentation>
					<xs:documentation xml:lang="fr">Définit les attributs concernant les traitement médicaux (gestion hospitalière).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bed-capacities" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation xml:lang="en">Defines the list of available treatment types.</xs:documentation>
								<xs:documentation xml:lang="fr">Définit la liste des types de traitement disponibles.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="bed-capacity" minOccurs="0" maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation xml:lang="en">Defines treatment type capacity.</xs:documentation>
											<xs:documentation xml:lang="fr">Définit les capacités par type traitement.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:attribute name="type" type="xs:string" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="en">Identifies the treatment name.</xs:documentation>
													<xs:documentation xml:lang="fr">Identifiant le nom de la structure</xs:documentation>
												</xs:annotation>
											</xs:attribute>
											<xs:attribute name="baseline" type="xs:nonNegativeInteger" use="required">
												<xs:annotation>
													<xs:documentation xml:lang="en">Defines the number of available beds.</xs:documentation>
													<xs:documentation xml:lang="fr">Définit la quantité de lits disponibles.</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="doctors" type="xs:nonNegativeInteger" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines the number of available doctors.</xs:documentation>
							<xs:documentation xml:lang="fr">Définit le nombre de médecins.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="external-reference" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines the hospital reference AHA number.</xs:documentation>
							<xs:documentation xml:lang="fr">Définit l'identifiant unique de l'hopital.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="mine" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="density" type="xs:decimal" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="nbc-agents" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="unbounded">
						<xs:element name="nbc-agent">
							<xs:complexType>
								<xs:attribute name="type" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="state" type="xs:string"/>
					<xs:attribute name="danger" type="xs:int"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="obstacle" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines attributes related to obstacle capacities of the object.</xs:documentation>
					<xs:documentation xml:lang="fr">Définit les attributs relatifs aux capacités de l'objet à faire obstacle.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="activation-time" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="activity-time" minOccurs="0">
							<xs:complexType>
								<xs:attribute name="value" type="xs:nonNegativeInteger" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="activated" type="xs:boolean" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines whether the obstacle is initially activated or not.</xs:documentation>
							<xs:documentation xml:lang="fr">Définit si l'obstacle est initialement actif.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="logistic-base" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines attributes related to logistic superior.</xs:documentation>
					<xs:documentation xml:lang="fr">Définit les attributs concernant le supérieur logistique.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="id" type="xs:nonNegativeInteger" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines reference to the logistic superior.</xs:documentation>
							<xs:documentation xml:lang="fr">Identifiant du supérieur logistique.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="max-size" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="max-size" type="xs:nonNegativeInteger" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="supply-route" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="flow" type="xs:nonNegativeInteger"/>
						<xs:element name="width" type="xs:nonNegativeInteger"/>
						<xs:element name="length" type="xs:nonNegativeInteger"/>
						<xs:element name="max-weight" type="xs:nonNegativeInteger"/>
						<xs:element name="equipped" type="xs:boolean"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="lodging" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="capacity" type="xs:nonNegativeInteger" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="altitude-modifier" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="height" type="xs:nonNegativeInteger" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="underground" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="network" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
