data/app-data/resources/schemas/5.1.1/exercise/scores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="common.xsd"/>
	<xs:attributeGroup name="T_ExtractorAttributes">
		<xs:attribute name="resources" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "resources" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dotations" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "resources" function, retro-compatibility</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="equipments" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "equipments" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="states" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "equipments" "humans" "population-states" "crowd-states" "fire-human-damage" "fire-human-loss" and "fire-human-loss-by-crowd-fires" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ranks" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "humans" "fire-human-damage" and "fire-human-loss" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="types" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "force-ratio" "stocks" "ambulances" and "maintenances" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "satisfactions" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="party" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "fire-component-damage" "fire-component-loss" "fire-human-damage" "fire-human-loss" and "fire-human-loss-by-crowd-fires" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fire-types" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "fire-component-damage" "fire-component-loss" "fire-human-damage" and "fire-human-loss" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="fratricide" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "fire-component-damage" "fire-component-loss" "fire-human-damage" and "fire-human-loss" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="components" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "fire-component-damage" and "fire-component-loss" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="blocks" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "population-in-selected-blocks" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="detected" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "detecting-unit" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="visibility" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "detecting-unit" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="T_TransformationAttributes">
		<xs:attribute name="select" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "is-one-of", and "domain" functions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="period" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "derivate" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="operator">
			<xs:annotation>
				<xs:documentation>used by "compare" function</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="less"/>
					<xs:enumeration value="greater"/>
					<xs:enumeration value="less_equal"/>
					<xs:enumeration value="greater_equal"/>
					<xs:enumeration value="equal"/>
					<xs:enumeration value="not_equal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="T_ReductionAttributes">
		<xs:attribute name="key" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "select" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="thresholds" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "threshold" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="values" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "threshold" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="T_ResultAttributes">
		<xs:attribute name="name" type="xs:string">
			<xs:annotation>
				<xs:documentation>used by "indicator" function</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="scores">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element name="score">
					<xs:annotation>
						<xs:documentation>Defines a score</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="formula" type="xs:string">
								<xs:annotation>
									<xs:documentation>Defines indicator formula</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="gauge">
								<xs:annotation>
									<xs:documentation>Describes gauge display configuration</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="interval">
											<xs:annotation>
												<xs:documentation>Defines a mapping between an interval of indicator value and a key identifying gauge state</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="key" type="xs:double" use="required">
													<xs:annotation>
														<xs:documentation>Key to map interval to</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="min" type="xs:double" use="optional">
													<xs:annotation>
														<xs:documentation>Interval lower boundary</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="max" type="xs:double" use="optional">
													<xs:annotation>
														<xs:documentation>Interval upper boundary</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Defines the type of gauge displayer to use</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="constants">
								<xs:annotation>
									<xs:documentation>Describes constants used in indicator definition</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence minOccurs="0" maxOccurs="unbounded">
										<xs:element name="constant">
											<xs:annotation>
												<xs:documentation>Defines a constant used in indicator definition</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="id" use="required">
													<xs:annotation>
														<xs:documentation>Constant identifier for use in formula</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="$.+"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="type" use="required">
													<xs:annotation>
														<xs:documentation>Constant type</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="unit"/>
															<xs:enumeration value="unit list"/>
															<xs:enumeration value="force-ratio types"/>
															<xs:enumeration value="party list"/>
															<xs:enumeration value="urban block list"/>
															<xs:enumeration value="dotation list"/>
															<xs:enumeration value="equipment list"/>
															<xs:enumeration value="zone"/>
															<xs:enumeration value="fire types"/>
															<xs:enumeration value="fratricide"/>
															<xs:enumeration value="human states"/>
															<xs:enumeration value="human damage states"/>
															<xs:enumeration value="human ranks"/>
															<xs:enumeration value="population states"/>
															<xs:enumeration value="crowd states"/>
															<xs:enumeration value="equipment states"/>
															<xs:enumeration value="perception levels"/>
															<xs:enumeration value="satisfaction types"/>
															<xs:enumeration value="ambulance types"/>
															<xs:enumeration value="maintenance types"/>
															<xs:enumeration value="operator"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="value" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>Constant value</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="indicators">
								<xs:annotation>
									<xs:documentation>Describes indicators</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="indicator">
											<xs:annotation>
												<xs:documentation>Defines an indicator</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice maxOccurs="unbounded">
													<xs:element name="extract" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Extractor functions retrieve couple of key (identifiers) and data for processing</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="function" use="required">
																<xs:annotation>
																	<xs:documentation>function definition</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="ambulances"/>
																		<xs:enumeration value="close-combat-power"/>
																		<xs:enumeration value="crowd-states"/>
																		<xs:enumeration value="damage-indirect-fires"/>
																		<xs:enumeration value="detecting-unit"/>
																		<xs:enumeration value="direct-fire-power"/>
																		<xs:enumeration value="direct-fire-targets"/>
																		<xs:enumeration value="direct-fire-unit"/>
																		<xs:enumeration value="direct-fire-units"/>
																		<xs:enumeration value="engineering-power"/>
																		<xs:enumeration value="equipments"/>
																		<xs:enumeration value="fire-component-damage"/>
																		<xs:enumeration value="fire-component-damages"/>
																		<xs:enumeration value="fire-component-loss"/>
																		<xs:enumeration value="fire-human-damages"/>
																		<xs:enumeration value="fire-human-loss"/>
																		<xs:enumeration value="fire-human-loss-by-crowd-fires"/>
																		<xs:enumeration value="force-ratio"/>
																		<xs:enumeration value="humans"/>
																		<xs:enumeration value="indirect-fire-positions"/>
																		<xs:enumeration value="indirect-fire-power"/>
																		<xs:enumeration value="indirect-fire-unit"/>
																		<xs:enumeration value="indirect-fire-units"/>
																		<xs:enumeration value="infrastructures-functional-states"/>
																		<xs:enumeration value="maintenance-handling-unit"/>
																		<xs:enumeration value="maintenance-handling-units"/>
																		<xs:enumeration value="maintenances"/>
																		<xs:enumeration value="mounted"/>
																		<xs:enumeration value="operational-state"/>
																		<xs:enumeration value="operational-states"/>
																		<xs:enumeration value="population-in-selected-blocks"/>
																		<xs:enumeration value="populations"/>
																		<xs:enumeration value="position"/>
																		<xs:enumeration value="positions"/>
																		<xs:enumeration value="resource-networks-functional-states"/>
																		<xs:enumeration value="resources"/>
																		<xs:enumeration value="satisfactions"/>
																		<xs:enumeration value="satisfactions-dpre"/>
																		<xs:enumeration value="stocks"/>
																		<xs:enumeration value="waiting-for-medical"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="id" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>function identifier (output)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attributeGroup ref="T_ExtractorAttributes"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="transform" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Transformation functions manipulate input data keeping association between keys (identifiers) and values</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="function" use="required">
																<xs:annotation>
																	<xs:documentation>function definition</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="distance"/>
																		<xs:enumeration value="contains"/>
																		<xs:enumeration value="filter"/>
																		<xs:enumeration value="is-one-of"/>
																		<xs:enumeration value="derivate"/>
																		<xs:enumeration value="integrate"/>
																		<xs:enumeration value="domain"/>
																		<xs:enumeration value="compare"/>
																		<xs:enumeration value="compose"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="id" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>function identifier (output)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="input" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>identifier referencing input function(s)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="type" use="required">
																<xs:annotation>
																	<xs:documentation>output type</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="unsigned long"/>
																		<xs:enumeration value="unsigned"/>
																		<xs:enumeration value="int"/>
																		<xs:enumeration value="float"/>
																		<xs:enumeration value="position"/>
																		<xs:enumeration value="bool"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attributeGroup ref="T_TransformationAttributes"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="reduce" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Reduction functions manipulate input data loosing association between keys (identifiers) and values</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="function" use="required">
																<xs:annotation>
																	<xs:documentation>function definition</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="select"/>
																		<xs:enumeration value="count"/>
																		<xs:enumeration value="minimum"/>
																		<xs:enumeration value="maximum"/>
																		<xs:enumeration value="sum"/>
																		<xs:enumeration value="mean"/>
																		<xs:enumeration value="threshold"/>
																		<xs:enumeration value="product"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="id" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>function identifier (output)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="input" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>identifier referencing input function(s)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="type" use="required">
																<xs:annotation>
																	<xs:documentation>output type</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value=""/>
																		<xs:enumeration value="unit"/>
																		<xs:enumeration value="unsigned long"/>
																		<xs:enumeration value="unsigned int"/>
																		<xs:enumeration value="unsigned"/>
																		<xs:enumeration value="int"/>
																		<xs:enumeration value="float"/>
																		<xs:enumeration value="position"/>
																		<xs:enumeration value="zone"/>
																		<xs:enumeration value="bool"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attributeGroup ref="T_ReductionAttributes"/>
														</xs:complexType>
													</xs:element>
													<xs:element name="result">
														<xs:annotation>
															<xs:documentation>Result functions present indicator output in a specific format</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="function" use="required">
																<xs:annotation>
																	<xs:documentation>function definition</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="indicator"/>
																		<xs:enumeration value="plot"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="input" type="xs:string" use="required">
																<xs:annotation>
																	<xs:documentation>identifier referencing input function</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="type" use="required">
																<xs:annotation>
																	<xs:documentation>output type</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:enumeration value="unsigned long"/>
																		<xs:enumeration value="unsigned"/>
																		<xs:enumeration value="int"/>
																		<xs:enumeration value="float"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attributeGroup ref="T_ResultAttributes"/>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Score name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		    <xs:attribute name="model-version" type="T_Version"/>
		</xs:complexType>
		<xs:unique name="CheckScoreNameIsUnique">
			<xs:selector xpath="score"/>
			<xs:field xpath="@name"/>
		</xs:unique>
	</xs:element>
</xs:schema>
