data/schemas/physical/Objects.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="tools.xsd"/>
	<xs:simpleType name="T_Geometry">
		<xs:restriction base="xs:string">
			<xs:enumeration value="circle"/>
			<xs:enumeration value="line"/>
			<xs:enumeration value="point"/>
			<xs:enumeration value="polygon"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_GeometryList">
		<xs:list itemType="T_Geometry"/>
	</xs:simpleType>
	<xs:simpleType name="T_App6Symbol">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15" fixed="true"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ObjectType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="mines"/>
			<xs:enumeration value="mined area (linear)"/>
			<xs:enumeration value="mined area (scattered)"/>
			<xs:enumeration value="anti tank obstacle"/>
			<xs:enumeration value="abattis"/>
			<xs:enumeration value="barricade"/>
			<xs:enumeration value="landslide"/>
			<xs:enumeration value="road destruction"/>
			<xs:enumeration value="bridge destruction"/>
			<xs:enumeration value="continuous pontoon bridge"/>
			<xs:enumeration value="firing post"/>
			<xs:enumeration value="safe zone"/>
			<xs:enumeration value="gun artillery deployment area"/>
			<xs:enumeration value="cobra deployment area"/>
			<xs:enumeration value="mrls deployment area"/>
			<xs:enumeration value="crossing site"/>
			<xs:enumeration value="nbc cloud"/>
			<xs:enumeration value="logistic support area"/>
			<xs:enumeration value="decontamination site"/>
			<xs:enumeration value="jamming area"/>
			<xs:enumeration value="rota area"/>
			<xs:enumeration value="nbc zone"/>
			<xs:enumeration value="landing area"/>
			<xs:enumeration value="trail"/>
			<xs:enumeration value="platform"/>
			<xs:enumeration value="mobility enhanced area"/>
			<xs:enumeration value="landing area (helicopter)"/>
			<xs:enumeration value="logistic area"/>
			<xs:enumeration value="logistic route"/>
			<xs:enumeration value="prisoners camp"/>
			<xs:enumeration value="refugees camp"/>
			<xs:enumeration value="checkpoint"/>
			<xs:enumeration value="dropping area"/>
			<xs:enumeration value="movement forbidden area"/>
			<xs:enumeration value="fire forbidden area"/>
			<xs:enumeration value="mortar deployment area"/>
			<xs:enumeration value="discontinuous pontoon bridge"/>
			<xs:enumeration value="installation"/>
			<xs:enumeration value="fire"/>
			<xs:enumeration value="emergency shelter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ConsumptionMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ArretMoteurEteint"/>
			<xs:enumeration value="ArretMoteurAllume"/>
			<xs:enumeration value="Deplacement"/>
			<xs:enumeration value="EnTravaux"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ValueUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="raw"/>
			<xs:enumeration value="density"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_TerrainType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="autoroute"/>
			<xs:enumeration value="departementale"/>
			<xs:enumeration value="carrefour"/>
			<xs:enumeration value="nationale"/>
			<xs:enumeration value="voie ferree"/>
			<xs:enumeration value="pont"/>
			<xs:enumeration value="banlieue"/>
			<!-- $$$ check supported types -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_UnitSpeedPolicy">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AuPlusLent"/>
			<xs:enumeration value="VitesseMaxObjet"/>
			<xs:enumeration value="VitesseMaxAgent"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_IntegralPercentage">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_ContaminationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="nbc"/>
			<!-- $$$ values? -->
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="objects">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="object" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="object">
		<xs:complexType>
			<xs:all>
				<xs:element name="activable" minOccurs="0"/>
				<xs:element name="attrition" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="category" type="xs:string"/>
						<!-- Dotation name -->
					</xs:complexType>
				</xs:element>
				<xs:element name="avoidable" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="distance" type="xs:double"/>
						<!-- meters -->
					</xs:complexType>
				</xs:element>
				<xs:element name="bypassable" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="bypass-speed" type="xs:double"/>
						<!-- km/h -->
					</xs:complexType>
				</xs:element>
				<xs:element name="constructor" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="buildable" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="resources">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="dotation" minOccurs="0">
														<!-- implementation restriction -->
														<xs:complexType>
															<xs:attribute name="count" type="xs:positiveInteger"/>
															<xs:attribute name="name" type="xs:string"/>
															<!-- dotation name -->
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="improvable" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="resources">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="dotation" minOccurs="0">
														<!-- implementation restriction -->
														<xs:complexType>
															<xs:attribute name="count" type="xs:positiveInteger"/>
															<xs:attribute name="name" type="xs:string"/>
															<!-- dotation name -->
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="default-consumption-mode" type="T_ConsumptionMode"/>
						<xs:attribute name="unit-type" type="T_ValueUnit"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="heuristic" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="terrain" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="type" type="T_TerrainType"/>
									<xs:attribute name="value" type="xs:positiveInteger"/>
									<!-- km/h? -->
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="interact-with-enemy" minOccurs="0"/>
				<xs:element name="mobility" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="default-speed" type="xs:double"/>
						<xs:attribute name="max-unit-percentage-speed" type="T_IntegralPercentage"/>
						<xs:attribute name="unit-speed-impact-mode" type="T_UnitSpeedPolicy"/>
						<!-- km/h or -1 -->
						<!-- always 0? -->
					</xs:complexType>
				</xs:element>
				<xs:element name="population-filter" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="density" type="xs:double"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="time-limited" minOccurs="0"/>
				<xs:element name="protection" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="geniePrepared" type="xs:boolean"/>
						<xs:attribute name="max-size" type="xs:positiveInteger"/>
						<!-- WTF? -->
					</xs:complexType>
				</xs:element>
				<xs:element name="interference" minOccurs="0"/>
				<xs:element name="contamination" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="max-toxic" type="xs:positiveInteger"/>
						<xs:attribute name="type" type="T_ContaminationType"/>
						<!-- danger level, maximum? can be -1 -->
						<!-- only read by simulation, not used -->
					</xs:complexType>
				</xs:element>
				<xs:element name="intoxication" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="max-toxic" type="xs:positiveInteger"/>
						<xs:attribute name="type" type="T_ContaminationType"/>
						<!-- danger level, maximum? can be -1 -->
						<!-- only read by simulation, not used -->
					</xs:complexType>
				</xs:element>
				<xs:element name="propagation" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="model" type="xs:string"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="interaction-height" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="height" type="xs:nonNegativeInteger"/>
						<!-- meters -->
					</xs:complexType>
				</xs:element>
				<xs:element name="extinguishable" minOccurs="0"/>
				<xs:element name="workable" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="max-animator" type="xs:positiveInteger"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="logistic" minOccurs="0"/>
				<xs:element name="supply" minOccurs="0"/>
				<xs:element name="supply-route" minOccurs="0"/>
				<xs:element name="bridging" minOccurs="0"/>
			</xs:all>
			<xs:attribute name="geometry" type="T_GeometryList" use="optional"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="symbol" type="T_App6Symbol" use="optional"/>
			<xs:attribute name="type" type="T_ObjectType" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
