data/tic/plateformesTIC.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<!-- Types d'equipements et de consommables -->
	<xs:include schemaLocation="plateformesNatures.xsd"/>

	<xs:complexType name="TPlateformeEquipement">
		<xs:annotation>
			<xs:documentation>Nature de l'équipement de la plateforme.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Categorie" type="TEquipementCategorie">
				<xs:annotation>
					<xs:documentation>Catégorie de l'équipement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SousCategorie" type="TEquipementSousCategorie">
				<xs:annotation>
					<xs:documentation>Sous catégorie de l'équipement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="TEquipement" use="required"/>
	</xs:complexType>
	
	<xs:element name="Plateformes">
		<xs:complexType>
			<xs:all>
				<xs:element name="Plateforme" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element ref="NatureEquipement" minOccurs="0" maxOccurs="1"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="NatureEquipement" type="TPlateformeEquipement">
		<xs:annotation>
			<xs:documentation>La nature de l'équipement de la plateforme.</xs:documentation>
		</xs:annotation>
	</xs:element>

</xs:schema>
