data/tic/tic.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- Natures des pions -->
	<xs:include schemaLocation="pionsNatures.xsd"/>
	<!-- Nature de plateformes (equipements) -->
	<xs:include schemaLocation="plateformesNatures.xsd"/>
	<!-- Types de communications -->
	<xs:include schemaLocation="communications.xsd"/>
	<xs:simpleType name="TDirection">
		<xs:annotation>
			<xs:documentation>Un angle compris entre 0 et 360° par rapport au nord, dans le sens des aiguilles d'une montre. La direction des plateformes désagrégées est identique à celle du pion dont elles font partie.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="360"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TVitesse">
		<xs:annotation>
			<xs:documentation>Vitesse du pion en km/h. La vitesse est identique pour chacune des plateformes du pion.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:complexType name="TPosition">
		<xs:annotation>
			<xs:documentation>Position de l'unité.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Latitude" type="xs:string">
				<xs:annotation>
					<xs:documentation>Latitude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Longitude" type="xs:string">
				<xs:annotation>
					<xs:documentation>Longitude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Hauteur" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Hauteur de l'unité par rapport au sol en mètres.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TEtat">
		<xs:annotation>
			<xs:documentation>Enumération représentant l'état du pion.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Operationnel"/>
			<xs:enumeration value="Detruit"/>
			<xs:enumeration value="Reparable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TPlateformeEquipement">
		<xs:annotation>
			<xs:documentation>Nature de l'équipement de la plateforme.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Categorie" type="TEquipementCategorie">
				<xs:annotation>
					<xs:documentation>Catégorie de l'équipement.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SousCategorie" type="TEquipementSousCategorie">
				<xs:annotation>
					<xs:documentation>Sous catégorie de l'équipement.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="TEquipement" use="required"/>
	</xs:complexType>
	<xs:element name="Tic">
		<xs:annotation>
			<xs:documentation>L'élément racine du fichier d'export.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HeureSIM" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Heure siumulée.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Automates"/>
				<xs:element ref="Communications" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TPion">
		<xs:annotation>
			<xs:documentation>Type pion permettant de factoriser la définition d'un pion qu'il soit PC ou non.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nature">
				<xs:annotation>
					<xs:documentation>Les informations concernant la nature du pion.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="Nom" type="xs:string">
							<xs:annotation>
								<xs:documentation>Le nom du type de pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Niveau" type="TNatureNiveau">
							<xs:annotation>
								<xs:documentation>Le niveau du pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Arme" type="TNatureArme">
							<xs:annotation>
								<xs:documentation>L'arme du pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Specialisation" type="TNatureSpecialisation">
							<xs:annotation>
								<xs:documentation>La spécialisation du pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Categorie" type="TNatureCategorie">
							<xs:annotation>
								<xs:documentation>La catégorie du pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Qualificatif" type="TNatureQualificatif">
							<xs:annotation>
								<xs:documentation>La qualificatif du pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TypeMobilite" type="TNatureTypeMobilite">
							<xs:annotation>
								<xs:documentation>Le type de mobilité du pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CapaciteMission" type="TNatureCapaciteMission">
							<xs:annotation>
								<xs:documentation>La capacité mission du pion.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Direction" type="TDirection">
				<xs:annotation>
					<xs:documentation>La direction du pion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Vitesse" type="TVitesse">
				<xs:annotation>
					<xs:documentation>La vitesse du pion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Position" type="TPosition">
				<xs:annotation>
					<xs:documentation>La position MGRS du pion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Etat" type="TEtat">
				<xs:annotation>
					<xs:documentation>L'état opérationnel du pion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Plateformes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>La liste des plateformes composant le pion si désagrégé.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Plateforme" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation>L'identifiant du pion dans la simulation.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="required">
			<xs:annotation>
				<xs:documentation>L'état de désagrégation du pion.</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="agrege"/>
					<xs:enumeration value="desagrege"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Plateforme">
		<xs:annotation>
			<xs:documentation>Un élément plateforme issu de la désagréagation du pion.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element name="Type" type="xs:string">
					<xs:annotation>
						<xs:documentation>Le type d'équipement de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CodeNNO" type="xs:string">
					<xs:annotation>
						<xs:documentation>Code NNO de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CodeEMAT6" type="xs:string">
					<xs:annotation>
						<xs:documentation>Code EMAT6 de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CodeEMAT8" type="xs:string">
					<xs:annotation>
						<xs:documentation>Code EMAT8 de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CodeLFRIL" type="xs:string">
					<xs:annotation>
						<xs:documentation>Code LFRIL de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Direction" type="TDirection">
					<xs:annotation>
						<xs:documentation>La direction, identique à celle du pion.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Vitesse" type="TVitesse">
					<xs:annotation>
						<xs:documentation>La vitesse, identique à celle du pion.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Position" type="TPosition">
					<xs:annotation>
						<xs:documentation>La position extrapolée à partir de celle du pion.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Protection" type="xs:string">
					<xs:annotation>
						<xs:documentation>Le type de protection de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Volume" type="xs:string">
					<xs:annotation>
						<xs:documentation>Le type de volume de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NatureEquipement" type="TPlateformeEquipement">
					<xs:annotation>
						<xs:documentation>La nature de l'équipement de la plateforme.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:all>
			<xs:attribute name="id" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>L'identifiant de la plateforme. Unique au niveau du pion, compris entre 1 et le nombre de plateformes du pion.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Automates">
		<xs:annotation>
			<xs:documentation>La liste des automates de la mission.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Automate" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Automate">
		<xs:annotation>
			<xs:documentation>Un élément automate. Contient les informations relatives à l'automate ainsi qu'un pion de type PC et la liste des Pions qui lui sont rattachés.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Camp" type="xs:string">
					<xs:annotation>
						<xs:documentation>Le nom du camp auquel appartient l'automate.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GroupeConnaissance" type="xs:nonNegativeInteger">
					<xs:annotation>
						<xs:documentation>L'identifiant du groupe de connaissance auquel appartient l'automate.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PC" type="TPion">
					<xs:annotation>
						<xs:documentation>Le pion PC de l'automate.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Pions"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>L'identifiant de l'automate dans la simulation.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pions">
		<xs:annotation>
			<xs:documentation>La liste des pions non-PC rattachés à l'automate.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pion" type="TPion" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Les pions non-PC attachés à l'automate.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Communications">
		<xs:annotation>
			<xs:documentation>La liste des communications exportées.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Liaison" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Liaison">
		<xs:annotation>
			<xs:documentation>Une liaison entre un automate et pion.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PionVersAutomate" minOccurs="0"/>
				<xs:element ref="AutomateVersPion" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="automate" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>L'identifiant de l'automate émetteur ou récepteur.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="pion" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>L'identifiant du pion émetteur ou récepteur.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PionVersAutomate">
		<xs:annotation>
			<xs:documentation>Les communications dans le sens pion vers automate.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Communication" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="AutomateVersPion">
		<xs:annotation>
			<xs:documentation>Les communications dans le sens automate vers pion.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="Communication" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Communication">
		<xs:annotation>
			<xs:documentation>Le contenu de la communication.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="type" type="TCommunicationType" use="required">
				<xs:annotation>
					<xs:documentation>La catégorie de contenu de la communication.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="soustype" type="TCommunicationSousType" use="required">
				<xs:annotation>
					<xs:documentation>La catégorie de contenu de la communication.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="message" type="TCommunicationCR" use="optional">
				<xs:annotation>
					<xs:documentation>Si le message est de type compte-rendu, la description du message.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nombre" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>Le nombre de communications identitques reçues depuis le dernier export.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="sujet" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Le sujet de la communication:
						- pour un compte rendu (cr), l'identifiant référençant le type de compte rendu.
						- pour un ordre, l'identiant représentant l'identifiant de l'ordre.
						- pour une intervisibilité, la liste, séparée par des virgules, des identifiants des entités objets du message.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>