data/tic/tic_config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="TicConfig">
		<xs:annotation>
			<xs:documentation>Racine du fichier de configuration.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ConnexionScipio"/>
				<xs:element ref="Export"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConnexionScipio">
		<xs:annotation>
			<xs:documentation>Les paramètres de connexion à la simulation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Serveur" type="xs:string">
					<xs:annotation>
						<xs:documentation>L'adresse IP de la simulation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Port" type="xs:positiveInteger">
					<xs:annotation>
						<xs:documentation>Le numéro du port de connexion à la simulation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FichierConfiguration" type="xs:string">
					<xs:annotation>
						<xs:documentation>Le chemin (absolu ou relatif) vers le fichier principal de configuration de la simulatoion (scipio.xml).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NaturePlateformes" type="xs:string">
					<xs:annotation>
						<xs:documentation>Le chemin (absolu ou relatif) vers le fichier de définition des natures de plateformes spécifiques au module SCIPIO-TIC.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Export">
		<xs:annotation>
			<xs:documentation>Les paramètres d'exportation et de désagrégation.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Fichier" type="xs:string">
					<xs:annotation>
						<xs:documentation>Le nom du fichier d'exportation des données.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Incremental" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Booléen permettant d'activer l'exportation incrémentale, par défaut le fichier d'export est écrasé à chaque tick.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ExportCommunications" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Booléen permettant d'activer l'exportation des communications.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FichierFiltre" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Le nom du fichier de filtrage des types de plateformes désagrégées.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ZonesDesagregees" minOccurs="0"/>
				<xs:element ref="AutomatesDesagreges" minOccurs="0"/>
				<xs:element ref="GroupesDeConnaissanceDesagreges" minOccurs="0"/>
				<xs:element ref="PionsDesagreges" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZonesDesagregees">
		<xs:annotation>
			<xs:documentation>Liste des zones géographiques dans lesquelles les pions doivent être désagrégés.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ZoneDesagregee" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Une zone géographique dans laquelle les pions doivent être désagrégés.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Points">
								<xs:annotation>
									<xs:documentation>Une liste de points définissant la zone géographique.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Point" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Coordonnées MGRS d'un point.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:all>
													<xs:element name="Latitude" type="xs:double">
														<xs:annotation>
															<xs:documentation>La latitude du point en degrés, au format flottant.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Longitude" type="xs:double">
														<xs:annotation>
															<xs:documentation>La longitude du point en degrés, au format flottant.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AutomatesDesagreges">
		<xs:annotation>
			<xs:documentation>Liste des identifiants des automates dont les pions doivent être désagrégés.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AutomateDesagrege" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Un automate donc les pions doivent être désagrégés.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="id" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>Identifiant de l'automate dans la simulation.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PionsDesagreges">
		<xs:annotation>
			<xs:documentation>Liste des identifiants des pions devant être désagrégés.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PionDesagrege" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Un pion devant être désagrégé.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="id" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>Identifiant du pion à désagréger.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GroupesDeConnaissanceDesagreges">
		<xs:annotation>
			<xs:documentation>Liste des groupes de connaissance dont les pions doivent être désagrégés.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GroupeDeConnaissanceDesagrege" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Un groupe de connaissance dont les pions doivent être désagrégés.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="id" type="xs:nonNegativeInteger">
							<xs:annotation>
								<xs:documentation>Identifiant du groupe de connaissance dans la simulation.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
