data/app-data/resources/schemas/4.3.3/physical/Resources.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.8.2">
	<xs:include schemaLocation="tools.xsd"/>
	<xs:element name="resources">
		<xs:annotation>
			<xs:documentation xml:lang="en">TODO</xs:documentation>
			<xs:documentation xml:lang="fr">Définit la liste des types de dotations.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resource" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">TODO</xs:documentation>
						<xs:documentation xml:lang="fr">Définit un type de dotation</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="illuminating" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">TODO</xs:documentation>
									<xs:documentation xml:lang="fr">Capacité d'illumination d'une cible</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="range" type="T_NonNegativeDouble" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Indique la portée de tir pour marquer une cible</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="maintain" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Indique s'il faut maintenir la visée</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="guided" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">TODO</xs:documentation>
									<xs:documentation xml:lang="fr">Capacité Ã  tirer des cibles guidées</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="maintain" type="xs:boolean" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Indique s'il faut maintenir la visée</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="range" type="T_NonNegativeDouble" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Indique la distance maximale entre la cible et l'illuminateur</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="attritions" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">TODO</xs:documentation>
									<xs:documentation xml:lang="fr">Dégâts causé par la munition, données par type de protection de la cible</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="attrition" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="en">TODO</xs:documentation>
												<xs:documentation xml:lang="fr">Dégâts causé par la munition, pour le type de protection donné</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="protection" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">TODO</xs:documentation>
														<xs:documentation xml:lang="fr">Protection de la cible</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="destruction" type="T_NonNegativeDouble" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">TODO</xs:documentation>
														<xs:documentation xml:lang="fr">Probabilité de détruire la cible</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="repairable-with-evacuation" type="T_NonNegativeDouble" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">TODO</xs:documentation>
														<xs:documentation xml:lang="fr">Probabilité d’endommager la cible en la rendant réparable sous réserve d'évacuation</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="repairable-without-evacuation" type="T_NonNegativeDouble" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">TODO</xs:documentation>
														<xs:documentation xml:lang="fr">Probabilité d’endommager la cible en la rendant réparable sans nécessité d'évacuation</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="urban-modifiers" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Modifiers depending on ammunitions and urban block material</xs:documentation>
									<xs:documentation xml:lang="fr">Modifieurs dépendants des munitions et des matériaux des blocs urbains</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="urban-modifier" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specific modifier</xs:documentation>
												<xs:documentation xml:lang="fr">Modifieur particulier</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="material-type" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">Urban block material type</xs:documentation>
														<xs:documentation xml:lang="fr">Type de matériau du bloc urbain</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="value" type="T_NonNegativeDouble" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">Alleviation value</xs:documentation>
														<xs:documentation xml:lang="fr">Valeur d'atténuation</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="indirect-fire" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">TODO</xs:documentation>
									<xs:documentation xml:lang="fr">Données spécifiques au tir indirect, dépendant de l’effet indirect</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ph" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation xml:lang="en">TODO</xs:documentation>
												<xs:documentation xml:lang="fr">Probabilité d’atteintes, en fonction de la posture de la cible</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="target-posture" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">TODO</xs:documentation>
														<xs:documentation xml:lang="fr">Posture de la cible visée par le tir indirecte</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="value" type="T_NonNegativeDouble" use="required">
													<xs:annotation>
														<xs:documentation xml:lang="en">TODO</xs:documentation>
														<xs:documentation xml:lang="fr">Probabilité que la cible soit atteinte par le tir indirecte, en fonction de sa posture</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="type" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Type de munition utilisé (explosif, grenade, fumigène etc.)
</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="intervention-type" type="xs:nonNegativeInteger" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">TODO</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="object-type" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">Type of object created by indirect fire</xs:documentation>
											<xs:documentation xml:lang="fr">Type d'objet créé par le tir indirect</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="x-dispersion" type="T_NonNegativeDouble" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Rayon r1 de l’ellipse d’effet du tir</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="y-dispersion" type="T_NonNegativeDouble" use="required">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Rayon r2 de l’ellipse d’effet du tir</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="neutralization-ratio" type="T_NonNegativeDouble" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Facteur appliqué à l’ellipse d’effet du tir déterminant l’ellipse de neutralisation</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="setup-time" type="T_Time" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Durée de déploiement avant effet éclairant/fumigène</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="life-time" type="T_Time" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Durée de vie de l’effet</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="mine-count" type="xs:nonNegativeInteger" use="optional">
										<xs:annotation>
											<xs:documentation xml:lang="en">TODO</xs:documentation>
											<xs:documentation xml:lang="fr">Nombre de mines constituant la zone minée</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="category" type="T_ResourceCategory" use="required">
							<xs:annotation>
								<xs:documentation>Catégorie physique de dotation (Munition, Carburant, Mine etc.)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">Identifying resource name</xs:documentation>
								<xs:documentation xml:lang="fr">Nom identifiant la dotation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="type" type="xs:string">
							<xs:annotation>
								<xs:documentation>Type de la dotation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="id" type="xs:nonNegativeInteger" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">Identifiant numérique de la dotation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="package-size" type="T_NonNegativeDouble" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">Nombre d'unités dans un package de cette dotation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="package-mass" type="T_NonNegativeDouble" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">Masse unitaire</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="package-volume" type="T_NonNegativeDouble" use="required">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">Volume unitaire</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="nature" type="xs:string"/>
						<xs:attribute name="id-nature" type="xs:positiveInteger" use="required">
							<xs:annotation>
								<xs:documentation>Id de la nature de la dotation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="codeEMAT6" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">code EMAT6 (codification armée de terre française)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="codeEMAT8" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">code EMAT8 (codification armée de terre française)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="codeLFRIL" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">code LFRIL (Land Forces Reportable Item List)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="codeNNO" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="en">TODO</xs:documentation>
								<xs:documentation xml:lang="fr">Numéro de Nomenclature OTAN</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="logistic-supply-class" type="T_LogisticSupplyClass" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="model-version" type="T_Version"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
