data/app-data/resources/schemas/5.2.0/physical/Disasters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.8.2">
    <xs:include schemaLocation="tools.xsd"/>
	<xs:element name="disasters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="disaster" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="model-version" type="T_Version"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
