data/app-data/resources/schemas/5.2.0/physical/Missions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="4.8.2">
	<xs:include schemaLocation="tools.xsd"/>
	<xs:element name="missions">
		<xs:annotation>
			<xs:documentation xml:lang="en">Root element, defines the list of available missions.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="units">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines list of available unit missions.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mission" type="missionType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Defines an unit mission.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="automats">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines list of available automat missions.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mission" type="automatMissionType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Defines an automat mission.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="populations">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines list of available population missions.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="mission" type="missionType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Defines a population mission.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fragorders">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines list of available fragmentary orders.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="fragorder" type="fragOrderType" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Defines a fragmentary order.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="model-version" type="T_Version"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="parameterListType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a list of order parameters.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parameter" type="parameterType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines an order parameter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="orderType" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a base type for order definition.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines information describe order purpose and usage.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="doctrine" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Describes doctrine concepts behind this order.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="usage" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">Defines information on how to issue this type order.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="parameter" type="compositeParameterType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines an order parameter.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="dia-type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the DirectIA order type associated to this order.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:positiveInteger" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the order.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the display name for this order.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="symbol" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Defines the symbol to use for representing the mission</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="package" type="T_PackageType" use="optional">
			<xs:annotation>
				<xs:documentation>Defines mission package</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="missionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a simple mission type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orderType">
				<xs:attribute name="dia-behavior" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines the DirectIA behavior associated to the mission.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="automatMissionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines an automat mission type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orderType">
				<xs:attribute name="cdt-dia-behavior" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines the DirectIA behavior associated to CDT (execution) mission phase.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="mrt-dia-behavior" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines the DirectIA behavior associated to MRT (preparation) mission phase.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="fragOrderType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a fragmentary order type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="orderType">
				<xs:attribute name="available-without-mission" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation xml:lang="en">Defines whether fragmentary order is only available when a mission is being executed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="parameterType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines an order parameter type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">Defines an enumeration entry for enumerated parameter type.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="labels" type="parameterLabels" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="id" type="xs:integer" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines enumerated identifier and value.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="name" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Defines display name for enumerated value</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="choice" type="parameterChoice" minOccurs="0"/>
			<xs:element name="objects" type="genObjectsParameter" minOccurs="0"/>
			<xs:element name="labels" type="parameterLabels" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="dia-name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines the name of the parameter for use in DirectIA scripts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines display name for parameter.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="min-occurs" type="xs:nonNegativeInteger" use="optional" default="1">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines minimum number of elements.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="max-occurs" type="T_NonNegativeIntegerOrUnbounded" use="optional" default="1">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines maximum number of elements. Can be "unbounded" for unlimited</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="min-value" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines numeric parameter min value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="max-value" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines numeric parameter max value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="default" type="T_NumericOrBoolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines numeric parameter default value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="T_MissionParameterType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines parameter type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="anchor" type="T_AnchorType" use="optional">
			<xs:annotation>
				<xs:documentation>Defines associated symbol anchor</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="optional" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines whether parameter is mandatory.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="is-context" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Defines whether parameter is from context.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="parameterChoice">
		<xs:sequence>
			<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="type" type="T_MissionParameterType" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="genObjectsParameter">
		<xs:sequence>
			<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="type" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnumerationEntryType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Defines a enumeration entry.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="labels" type="Labels" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
	<xs:complexType name="Labels">
		<xs:sequence>
			<xs:element name="label" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="text" type="xs:string" use="required"/>
					<xs:attribute name="language" type="xs:language" use="optional"/>
					<xs:attribute name="kind" type="LabelKind" use="optional"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnumerationType">
		<xs:sequence>
			<xs:element name="entry" type="EnumerationEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="parameterLabels">
		<xs:sequence>
			<xs:element name="label" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="text" type="xs:string" use="required"/>
					<xs:attribute name="kind" type="LabelKind" use="required"/>
					<xs:attribute name="language" type="xs:language"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="compositeParameterType">
		<xs:complexContent>
			<xs:extension base="parameterType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
