data/Test cards/card_template.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="test">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="summary">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="requirements">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="project">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" minOccurs="0" name="requirement">
                                            <xs:complexType>
                                                <xs:attribute name="id" type="xs:string"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="steps">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="step">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="action">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="expectation">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string"/>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string"/>
                                    <xs:attribute name="success" type="xs:boolean"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="history">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                                <xs:complexType mixed="true">
                                    <xs:attribute name="date" type="xs:string"/>
                                    <xs:attribute name="tester-name" type="xs:string"/>
                                    <xs:attribute name="success" type="xs:string"/>
                                    <xs:attribute name="comment" type="xs:string"/>
                                    <xs:attribute name="version" type="xs:string"/>
                                    <xs:attribute name="issues" type="T_IssuesList"/>
                                    <xs:attribute name="attachment" type="xs:boolean"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <!-- category désigne pour l'instant le composant principalement testé (Terrain, Adaptation,Préparation,Simulation (à la foi gaming et serveur),Comportement (pour les missions et le comportement des unités d'une facon générale), Analyse -->
            <xs:attribute name="category" type="T_Category"/>
            <xs:attribute name="data" type="xs:string"/>
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="version" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="T_Category">
        <xs:restriction base="xs:string">
            <xs:enumeration value="simulation"/>
            <xs:enumeration value="preparation"/>
            <xs:enumeration value="gaming"/>
            <xs:enumeration value="physical models"/>
            <xs:enumeration value="frontend"/>
            <xs:enumeration value="adaptation"/>
            <xs:enumeration value="terrain workshop"/>
            <xs:enumeration value="tutorials"/>
            <xs:enumeration value="replayer"/>
            <xs:enumeration value="global"/>
            <xs:enumeration value="dispatcher"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="T_IssuesList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>
</xs:schema>
